<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <key>tacticalrmmremote</key>
  <name>TacticalRMM Remote</name>
  <version>0.2.0</version>
  <license>GPLv2+</license>
  <author>z0gg</author>
  <homepage>https://github.com/z0gg/glpi-tacticalrmmremote</homepage>
  <issues>https://github.com/z0gg/glpi-tacticalrmmremote/issues</issues>
  <readme>https://github.com/z0gg/glpi-tacticalrmmremote#readme</readme>
  <icon>plugin.png</icon>
  <minGlpiVersion>10.0.0</minGlpiVersion>
  <maxGlpiVersion>11.99.99</maxGlpiVersion>
  <description>GLPI plugin that adds a direct TacticalRMM remote access button on Computer assets.</description>
</plugin>
